.App {
  text-align: center;
}

.App-header {
  background-color: #2D2928; /* old color = #282c34 */
  width : 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E7E5DF; /* old color = white */
}

form {
  width: 50%; /* Adjust as per your requirement */
  margin: auto; /* Center the form */
}

.App-link {
  color: #61dafb;
}

.Container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


