:root{
    --bizi-dark: #2D2928;
    --bizi-yellow: #E79215;
    --bizi-white: #E7E5DF;
}

body{
    background-color: var(--bizi-dark);
    color:var(--bizi-white);
}

.bizi-yellow-txt{
    color: var(--bizi-yellow);
}

.bizi-yellow-bg{
    background-color: var(--bizi-yellow);
}

.bizi-dark-txt{
    color: var(--bizi-dark);
}

.bizi-dark-bg{
    background-color: var(--bizi-dark);
}

.bizi-white-txt{
    color: var(--bizi-white);
}

.bizi-white-bg{
    background-color: var(--bizi-white);

}