.popup-delete{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-delete-inner{
    background-color: var(--bizi-dark);
    box-shadow: 0 0 6px #E7E5DF33;
    width: 500px;
    border-radius: 10px;
    position: relative;
    padding: 18px;
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-delete-inner .popup-delete-header{
    color: var(--bizi-yellow);
    width: 100%;
    height: 38px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    padding-left: 0px;
}

.popup-delete-header .header-text{
    width: calc(100% - 32px);
    height: 100%;
    display: flex;
    align-items: cen;
}

.popup-delete-header .close-btn{
    display: flex;
    align-items: flex-start;
    justify-content: end;
    width: 32px;
    height: 50%;
    border: 0;
    padding: 0;
    color: var(--bizi-white);
    background-color: var(--bizi-dark);
}

.popup-delete-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

.popup-delete-footer{
    width: 85%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 10px;

}

.popup-delete-footer .cancel-btn{
    background-color: var(--bizi-dark);
    color: var(--bizi-yellow);
    border: 2px solid var(--bizi-yellow);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;   
    padding: 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-right: 5px; 
}

.popup-delete-footer .delete-btn{
    background-color: var(--bizi-yellow);
    color: var(--bizi-dark);
    border: 2px solid var(--bizi-yellow);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;   
    padding: 8px 8px;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px; 

}