:root{
    --bizi-dark: #2D2928;
    --bizi-yellow: #E79215;
    --bizi-white: #E7E5DF;
  }

.taskCard{
    background-color:var(--bizi-dark);
    color: var(--bizi-dark);
    width: 96%;
    height: 130px;
    margin: 4px 10px;
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -2px -2px 4px 0 rgba(0,0,0,.5);
}
.taskCard:hover{
    cursor: pointer;
}

/* .taskCard .taskCardHeader{
    background-color: orangered;
} */

.taskCardHeader .taskName{
    color: var(--bizi-white);
    min-height: 24px;
    max-height: 48px;
    font-weight: 500;
    overflow: hidden;
}

.taskCardHeader .assignee{
    color: var(--bizi-white);
    opacity: .6;
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    overflow: hidden;
}


.taskCard .taskCardFooter{
    margin: 5px 10px 5px 5px;
    height: 24px;
    display: grid;
    grid-template-columns: 40px 1fr 40px 40px;
    
}

.taskCardFooter .bubbleStory{
    background-color:mediumorchid;
    color: var(--bizi-white);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid var(--bizi-white);
}

.taskCardFooter .bubbleTask{
    background-color: slateblue;
    color: var(--bizi-white);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid var(--bizi-white);
}

.taskCardFooter .bubbleWhiteboard{
    background-color: var(--bizi-white);
    color: var(--bizi-dark);
    border-radius: 100px;
    height: 24px;
    width: 40px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    border: none;
    box-shadow: 0 2px 0 rgba(231,229,223,.6);
}

.taskCardFooter .bubbleWhiteboard:active{
    box-shadow: none;
    transform: translateY(2px);
}

/*
1: medium blue?
2: bizi-yellow?
3: crimson?
*/
.taskCardFooter .bubblePriority{
    background-color: var(--bizi-white);
    border-radius: 100px;
    height: 24px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 18px;
    word-spacing: -3px;
}

.priorityNA{
    color: var(--bizi-dark);
}

.priorityLow{
    color:seagreen;
}

.priorityModerate{
    color: var(--bizi-yellow);
}

.priorityHigh{
    color: crimson;
}

.taskCardFooter .bubbleTaskLength{
    background-color: var(--bizi-white);
    color: var(--bizi-dark);
    border-radius: 100px;
    height: 24px;
    width: 40px;
    margin: 0 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}